{
  "presets": [["es2015", { "modules": false }], "stage-0", "react"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "useBuiltIns": true
          }
        ],
        "react"
      ]
    }
  }
}
