{
  "presets": [["es2015", { "modules": false }], "stage-0", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-react-remove-prop-types"
  ],
  "env": {
      "test": {
        "presets": ["es2015", "stage-0", "react"],
        "plugins": ["istanbul"]
      }
    }
}