.suspended .node-label {
  font-style: italic;
  text-decoration: line-through;
}

.dropdown-content {
  max-height: 400px;
  overflow-y: auto;
}

.node .fa {
  font-size: 12px;
  margin-left: 4px;
  cursor: pointer;
}

.node .fa-ban {
  color: darkorange;
}
