name: CI

on:
  push:
    branches: [develop, master]
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node JS
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: yarn install --ignore-engines
      - run: yarn lint:nofix
      - run: yarn coveralls
        env:
          github-token: ${{secrets.GITHUB_TOKEN}}
